body{
	background-color: powderblue;
	text-align: center;
}

h1{
	color:blue;
}

h2{
	color: black;
}

div.container{
	display:flex;
	align-items: center;
}

div.t1{
	background-color: tomato;
	width: 35%;
	height: 300px;
	margin: 0 0 0 auto;
}

div.t2{
	background-color: limegreen;
	width: 25%;
	height: 300px;
	margin: 0 auto 0 0;
}

button{
	background-color: gold;
	/*border-radius: 4px;*/
	margin: 0 2px;
	padding: 4px;
	border: none;
	color: black;
}

button:hover{
	background-color: orange;
}

ul{
	width: 20%;
	margin: 0 auto 0 auto;
	background-color: white;
	list-style-type: none;
	padding: 10px 0 10px 0;
	border: solid black 1px;
}

li{
	text-transform: capitalize;
}