<!DOCTYPE html>

<html lang="es" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>OTTO - Robot interactivo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}"/>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
  </head>



  <body>

    <h1>OTTO</h1>
    <h2>Robot Interactivo</h2>
    <br>

    <div class="container">

	    <div class="t1">

	    	<h3>Rutinas</h3>

	    	<button onclick="back_call('walk_forward');">Walk Forward</button>

	    	<button onclick="back_call('walk_backward');">Walk Backward</button>

	    	<button onclick="back_call('turn_left');">Turn Left</button>

	    	<button onclick="back_call('turn_right');">Turn Right</button>

	    	<button onclick="back_call('moonwalk');">Moonwalk</button>

	    	<button onclick="back_call('bend');">Bend</button>
	    	<br><br>
	    	<button onclick="back_call('shake_leg');">Shake Leg</button>

	    	<button onclick="back_call('crusaito');">Crusaito</button>

	    	<button onclick="back_call('flapping');">Flapping</button>

	    	<button onclick="back_call('swing');">Swing</button>

	    	<button onclick="back_call('tiptoe_swing');">Tiptoe Swing</button>

	    	<button onclick="back_call('jitter');">Jitter</button>
	    	<br><br>
	    	<button onclick="back_call('up_down');">Up Down</button>

	    	<button onclick="back_call('happy');">Happy</button>

	    	<button onclick="back_call('super_happy');">Super Happy</button>

	    	<button onclick="back_call('sad');">Sad</button>

	    	<button onclick="back_call('victory');">Victory</button>

	    	<button onclick="back_call('angry');">Angry</button>
	    	<br><br>
	    	<button onclick="back_call('sleeping');">Sleeping</button>

	    	<button onclick="back_call('fretful');">Fretful</button>

	    	<button onclick="back_call('love');">Love</button>

	    	<button onclick="back_call('confused');">Confused</button>

	    	<button onclick="back_call('fart');">Fart</button>

	    	<button onclick="back_call('fail');">Fail</button>
	    	<br><br>

	    </div>

	    <div class="t2">

	    	<h3>Sensor de Ultrasonido</h3>

	    	<br><br>
	    	<button onclick="back_call('ultrasonido_on');">ON</button>
	    	<br><br>
	    	<button onclick="back_call('ultrasonido_off');">OFF</button>
	    	<br><br>

	    </div>

	</div>

	<h1>Historial</h1>
	<ul id="lista_historial">
	</ul> 

  </body>

</html>
