<!DOCTYPE html>

<html lang="es" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>OTTO - Robot interactivo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
	  <link rel="icon" href="{{ url_for('static', filename='images/robot-solid.svg') }}" />
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
  </head>



  <body>

	<div class="text-center bg-dark pt-4 pb-4">
    <h1 class="text-white text-center">OTTO - Robot Interactivo</h1>
     <img src="{{ url_for('static', filename='images/robot-solid.svg') }}" style="height:40px;filter: invert(100%);">
	</div>

<div class="container border border-success mt-5 rounded">
	<div class="text-center"><h2>Rutinas</h2></div>
  <div class="row">
    <div class="col-sm text-center p-3">
		<button class="btn btn-outline-success" onclick="back_call('todas');">Todas</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center p-3">
		<button class="btn btn-success btn-block" onclick="back_call('walk_forward');">Walk Forward</button>
    </div>
    <div class="col-sm text-center p-3">
 		<button class="btn btn-success btn-block" onclick="back_call('walk_backward');">Walk Backward</button>
    </div>
    <div class="col-sm text-center p-3">
	    <button class="btn btn-success btn-block" onclick="back_call('turn_left');">Turn Left</button>
    </div>
    <div class="col-sm text-center p-3">
	    <button class="btn btn-success btn-block" onclick="back_call('turn_right');">Turn Right</button>
    </div>
    <div class="col-sm text-center p-3">
	    <button class="btn btn-success btn-block" onclick="back_call('moonwalk');">Moonwalk</button>
    </div>
    <div class="col-sm text-center p-3">
	    <button class="btn btn-success btn-block" onclick="back_call('bend');">Bend</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('shake_leg');">Shake Leg</button>
    </div>
    <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('crusaito');">Crusaito</button>
    </div>
    <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('flapping');">Flapping</button>
    </div>
    <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('swing');">Swing</button>
    </div>
    <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('tiptoe_swing');">Tiptoe Swing</button>
    </div>
     <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('jitter');">Jitter</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center p-3">
	   	<button class="btn btn-success btn-block" onclick="back_call('up_down');">Up Down</button>
    </div>
    <div class="col-sm text-center p-3">
	   	<button class="btn btn-success btn-block" onclick="back_call('happy');">Happy</button>
    </div>
    <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('super_happy');">Super Happy</button>
    </div>
    <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('sad');">Sad</button>
    </div>
    <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('victory');">Victory</button>
    </div>
    <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('angry');">Angry</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('sleeping');">Sleeping</button>
    </div>
    <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('fretful');">Fretful</button>
    </div>
    <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('love');">Love</button>
    </div>
    <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('confused');">Confused</button>
    </div>
    <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('fart');">Fart</button>
    </div>
    <div class="col-sm text-center p-3">
    	<button class="btn btn-success btn-block" onclick="back_call('fail');">Fail</button>
    </div>
  </div>
</div>
  <div class="container text-center mt-5">

    <div class="row">
      <div class="col-sm">
        <h2>Sensor de Ultrasonido </h2>
        <h4>Estado Actual <span class="badge badge-info" id="span_ultrasonido">OFF</span></h4>
        <button id="ul_on" class="btn btn-warning" onclick="back_call('ultrasonido_on');">ON</button>
        <button id="ul_off" class="btn btn-danger" onclick="back_call('ultrasonido_off');">OFF</button>
      </div>

      <div class="col-sm">
        <h2>Velocidad </h2>
        <h4>Estado Actual <span class="badge badge-info" id="span_velocidad">RAPIDO</span></h4>
        <button id="vel_normal" class="btn btn-warning" onclick="back_call('velocidad_normal');">NORMAL</button>
        <button id="vel_rapido" class="btn btn-danger" onclick="back_call('velocidad_rapido');">RAPIDO</button>
      </div>

    </div>


	</div>


<div class="container mt-5 w-25" style="min-width:500px;">
	<h1 class="text-center">Historial</h1>
<table class="table table-light">
  <thead class="thead-dark text-center">
    <tr>
      <th scope="col" style="width: 40%">Acción</th>
      <th scope="col" style="width: 30%">Velocidad</th>
      <th scope="col" style="width: 30%">Tiempo</th>
    </tr>
  </thead>
  <tbody class="text-center" id="lista_historial">

  </tbody>
</table>
</div>
  <footer class="bg-dark footer py-3 mt-20">
  	<div class="text-center text-white">
  		<h3 class="text-white">Tecnologias usadas</h3>
  	</div>
  	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav m-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="https://www.python.org/" target="_blank"><image src="{{ url_for('static', filename='images/python') }}" style="height: 32px;object-fit: cover">Python</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://www.palletsprojects.com/p/flask/" target="_blank"><image src="{{ url_for('static', filename='images/flask') }}" style="height: 32px;object-fit: cover">Flask</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://2.python-requests.org/en/master/" target="_blank"><image src="{{ url_for('static', filename='images/requests-logo.png') }}" style="height: 32px;object-fit: cover">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://jquery.com/" target="_blank"><image src="{{ url_for('static', filename='images/jquery.ico') }}" style="height: 32px;object-fit: cover">jQuery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://getbootstrap.com/" target="_blank"><image src="{{ url_for('static', filename='images/bootstrap.png') }}" style="height: 32px;object-fit: cover">Bootstrap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://www.arduino.cc/en/main/software" target="_blank"><image src="{{ url_for('static', filename='images/arduinoide') }}" style="height: 32px;object-fit: cover">Arduino IDE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://github.com/" target="_blank"><image src="{{ url_for('static', filename='images/GitHub-Mark-Light-32px.png') }}" style="height: 32px;object-fit: cover">Github</a>
      </li>
    </ul>
  </div>
</nav>
<div class="text-center text-white">
	Realizado por: Saldivar, Augusto - Machado, Ricardo Emanuel
</div>


  </footer>
  </body>

</html>
