<!DOCTYPE html>

<html lang="es" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>OTTO - Robot interactivo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}"/>
  </head>



  <body>

    <h1>OTTO</h1>
    <br>
    <h2>Robot Interactivo</h2>
    <br>

    <div class="container">

	    <div class="t1">

	    	<h3>Rutinas</h3>

	    	<a href="#">Walk Forward</a>

	    	<a href="#">Walk Backward</a>

	    	<a href="#">Turn Left</a>

	    	<a href="#">Turn Right</a>

	    	<a href="#">Moonwalk</a>

	    	<a href="#">Bend</a>
	    	<br><br>
	    	<a href="#">Shake Leg</a>

	    	<a href="#">Crusaito</a>

	    	<a href="#">Flapping</a>

	    	<a href="#">Swing</a>

	    	<a href="#">Tiptoe Swing</a>

	    	<a href="#">Jitter</a>
	    	<br><br>
	    	<a href="#">Up Down</a>

	    	<a href="#">Happy</a>

	    	<a href="#">Super Happy</a>

	    	<a href="#">Sad</a>

	    	<a href="#">Victory</a>

	    	<a href="#">Angry</a>
	    	<br><br>
	    	<a href="#">Sleeping</a>

	    	<a href="#">Fretful</a>

	    	<a href="#">Love</a>

	    	<a href="#">Confused</a>

	    	<a href="#">Fart</a>

	    	<a href="#">Fail</a>
	    	<br><br>

	    </div>

	    <div class="t2">

	    	<h3>Sensor de Ultrasonido</h3>

	    	<a href="#">ON</a>
	    	<br><br>
	    	<a href="#">OFF</a>
	    	<br><br>

	    </div>

	</div>

  </body>

</html>
